header{
    text-align: center;
    position: relative;
    /* border-radius: 30px;
    border: 0.5px solid black; */
    color: black;
    transition: all ease-in 1s 1s;
    font-family: Cinzel, serif;
}



 

#main-description{
    background-color: rgba(95, 158, 160,0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#bar{
    /* display: inline-block; */
    text-align: center;
    margin: 5px;
    word-spacing: 30px;
    border-radius: 30px;
    border: 0.5px solid black;

}

a:hover{
    color: rgba(196, 142, 43, 0.877);
    /* color: black; */
    
}

.a-pip{
    word-spacing: normal;
    text-decoration: none; 
    /* text-decoration: none; */
    color: black;
    /* color: cadetblue; */
}    
.a-menu{
    word-spacing: normal;
    text-decoration: none; 
    /* text-decoration: none; */
    color: black;
    /* color: cadetblue; */
}
.a-contact{
    word-spacing: normal;
    text-decoration: none; 
    /* text-decoration: none; */
    color: black;
    /* color: cadetblue; */
}
.a-about{
    word-spacing: normal;
    text-decoration: none; 
    /* text-decoration: none; */
    color: black;
     /* color: cadetblue; */
 
}

.my-work-1{
    display: inline-block;
    margin:75px;
    text-align: center;
}

/* h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    border: 70px;
    padding-bottom: 0px;
    text-align: center;
} */

#my-work{
     padding-top: 50px;
     font-size: 30px;
     text-align: center;
     padding-bottom: 0px;
     margin-top: 50px;
     margin-bottom: 0px;
     border-bottom: 0px;
     border-bottom: 0px;

}

#book-rec{
    padding-top: 0px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;

}
#head-my-work{
    padding-bottom: 0px;
}

#description{
    /* display: inline-block; */
    /* position: absolute; */
    padding: 30px;
    top: 150px;
    margin-right: 150px;
    text-align: justify;
} 

#main-my-work img{
    border-radius: 10%;
    border: 1px solid black;
    padding: 0;
    /* text-align: center; */
}

#profile-photo{
    padding-right: 10px;
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 50PX; */
    margin: 50px;
    /* border-radius: 10%; */
    border-radius: 15px;
    border-color: white;

}
#main-my-work{
    padding-bottom: 30px;
}

/* #section1st{
    border-top: 25px;
} */

button{
    /* margin-top: 5px; */
    padding: 5px;
    border: 2px solid ;
    color: rgb(129, 92, 11);
    border-radius: 30px;
    font-size: 0.7em;
    transition: all 0.5s;
    
}

button:hover{
    border-color: rgb(169, 180, 9);
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(169, 180, 9);
    transform: translateY(-0.50em) ;
    cursor: pointer;
}


.book-rec-1{
    display: inline-block;
    text-align: center;
    /* margin: 75px; */
    vertical-align: center;
}
.book-rec-2{
    display: inline-block;
    text-align: center;
   
}
 .book-rec-3{
    display: inline-block;
    text-align: center;
   
}
 .book-rec-4{
    display: inline-block;
    text-align: center;
  
}
.book-rec-5{
    display: inline-block;
    text-align: center;
    
}  

#main-book-rec img{
    border-radius: 10%;
    border: 1px solid black;
    margin: 50px 30px 5px 30px ;
    padding: 0px;
}

#by-me{
    font-style: italic;
}

footer{
   margin-top: 100px;
   background-color: rgba(25, 78, 78,0.4);
   padding: 20px  20px ;
   margin-left: -10px;
   margin-right: -10px;
   margin-top: 100px;
} 

body{
    background-color: rgba(175, 238, 238,0.2);
}