header{
    text-align: center;
    position: relative;
    /* border-radius: 30px;
    border: 0.5px solid black; */
    color: black;
}


}
body{
    margin: 0px;
    background-color: rgba(245, 245, 245,1);

}

#bar{
    /* display: inline-block; */
    text-align: center;
    margin: 5px;
    word-spacing: 30px;
    border-radius: 30px;
    border: 0.5px solid black;

}
/* 
#pip{
    word-spacing: none;
    letter-spacing: 0;
   
} */

a:hover{
    color: cadetblue;
    /* color: black; */
    
}

.apip{
    word-spacing: normal;
    text-decoration: none; 
    /* text-decoration: none; */
    color: black;
    /* color: cadetblue; */
}    
.amenu{
    word-spacing: normal;
    text-decoration: none; 
    /* text-decoration: none; */
    color: black;
    /* color: cadetblue; */
}
.acontact{
    word-spacing: normal;
    text-decoration: none; 
    /* text-decoration: none; */
    color: black;
    /* color: cadetblue; */
}
.aabout{
    word-spacing: normal;
    text-decoration: none; 
    /* text-decoration: none; */
    color: black;
     /* color: cadetblue; */
 
}

.mywork1{
    display: inline-block;
    margin:75px;
    text-align: center;
  
    
}

h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    border: 70px;
    padding-bottom: 0px;
    text-align: center;
}

#headmywork{
    padding-bottom: 0px;
}

#description{
    display: inline-block;
    position: absolute;
    top: 150px;
    margin-right: 150px;
} 

#mainmywork img{
    border-radius: 10%;
    border: 1px solid black;
    /* text-align: center; */
}

#profilephoto{
    padding-right: 10px;
    /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 50PX; */
    margin: 50px;
    /* border-radius: 10%; */
    border-radius: 15px;
    border-color: white;

}
#mainmywork{
    padding-bottom: 30px;
}

/* #section1st{
    border-top: 25px;
} */

button{
    margin-top: 15px;
}

button:hover{
    color: cadetblue;
}

/* .bookrec3{
    display: inline-block;
    margin:75px;
    text-align: center;
} */

.bookrec1{
    display: inline-block;
    text-align: center;
    /* margin: 45px; */
    /* vertical-align: center; */
}
.bookrec2{
    display: inline-block;
    text-align: center;
    /* margin: 20px 20px 20px 15px; */
}
.bookrec3{
    display: inline-block;
    text-align: center;
    /* margin: 20px 10px 20px 20px; */
}
.bookrec4{
    display: inline-block;
    text-align: center;
    /* margin: 20px; */
}
.bookrec5{
    display: inline-block;
    text-align: center;
    /* margin: 20px; */
}

#mainbookrec img{
    border-radius: 10%;
    border: 1px solid black;
 

}

#byme{
    font-style: italic;
}